<div class="github-component d-flex flex-column flex-justify-between height-full text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
    <div>
      <div class="d-flex flex-justify-between flex-items-start">
        <h1 class="f4 lh-condensed">
            {{ study.name }}
        </h1>
        <img src="{{ study.image }}" width="72" height="72" alt="{{ study.name }}">
      </div>
      <div class="text-gray mb-2 ws-normal">{{ study.date }}</div>
    </div>
  </div>
  